.fatfooter {
  @extend %clearfix;
  padding: 3em 3rem 30px 3rem;
  background: #555;
  box-sizing: border-box;
  @include screen('tablet') {
    padding: 3rem 3rem 0 3rem;
  }
  @include screen('mobile') {
    padding: 3rem 30px 0 30px;
  }
  .container {
    display: flex;
    align-items: flex-start;
  }
  // 按鈕
  .btn-fatfooter {
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: #FFF;
    border: none;
    background: #222;
    position: absolute;
    right: calc(50% - 25px);
    top: -70px;
    z-index: 90;
    text-indent: -9999px;
    border-radius: 50%;
    &:before {
      content: "";
      width: 12px;
      height: 12px;
      border: 2px solid #FFF;
      border-left: none;
      border-bottom: none;
      transform: rotate(-45deg);
      transition: .3s ease-out;
      display: block;
      position: absolute;
      top: 20px;
    }
    &:hover,
    &:focus {
      background: #4a3278;
      color: #fff;
      text-decoration: none;
      cursor: pointer;
      border: none;
      box-shadow: none;
      outline: none;
      border: none;
      cursor: pointer;
    }
    &.close {
      &:before {
        transform: rotate(135deg) !important;
        top: 15px;
      }
    }
  }
  .fatfooter_info {
    flex: 0 0 280px;
    @include screen('mobile') {
      flex: 0 0 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }
    @media screen and (max-width: 560px) {
      flex-direction: column;
    }
    .fatfooter_logo {
      margin-top: 0.5rem;
      @include screen('mobile') {
        margin-top: 0;
        flex: 0 0 160px;
      }
      @media screen and (max-width: 560px) {
        flex: 0 0 auto;
        text-align: center;
      }
    }
    p {
      font-size: .875rem;
      color: rgba(255, 255, 255, .65);
      margin-left: 10px;
      @include screen('mobile') {
        flex: 1 1 auto;
        margin-top: 0;
        margin-left: 1rem;
      }
      @media screen and (max-width: 560px) {
        margin-left: 0;
        text-align: center;
      }
    }
    .fatfooter_link {
      width: 100%;
      display: flex;
      @include screen('mobile') {
        flex-direction: column;
        flex: 0 1 120px;
      }
      a {
        padding: 10px;
        color: #fff;
        background: $primaryColorDarken;
        margin: 0 0 0 10px;
        transition: all .5s;
        @include screen('mobile') {
          margin: 0 0 10px 0;
          text-align: center;
        }
        &:hover,
        &:focus {
          background: $secondaryColorDarken;
        }
      }
    }
  }
  nav {
    overflow: hidden;
    display: block;
    position: relative;
    padding: 0 10px;
    box-sizing: border-box;
    width: 100%;
    @include screen('mobile') {
      display: none;
    }
    >ul {
      display: flex;
      @include li-reset;
      justify-content: space-between;
      @include screen('tablet') {
        flex-wrap: wrap;
      }
      >li {
        flex: 1 1 16%;
        box-sizing: border-box;
        @include screen('tablet') {
          flex: 1 1 33%;
          margin-bottom: 1rem;
        }
        a {
          line-height: 1.5;
          display: block;
          font-weight: bold;
          padding: .4em 0px;
          box-sizing: border-box;
          color: #fff;
          &:hover {
            box-shadow: none;
            color: $linkColor;
          }
        }
        >ul {
          display: block;
          margin: 0;
          padding: 0 1em 0 0;
          @include li-reset;
          @include screen('mobile') {
            width: auto;
          }
          >li {
            // flex: 0 0 100%;
            a {
              display: block;
              color: rgba(255, 255, 255, .7);
              font-weight: normal;
              text-align: left;
              font-size: .938em;
              line-height: 1.5em;
              padding: .5em 0;
              background: none;
              @include screen('tablet') {
                padding: .2em 0;
              }
              &:hover {
                color: rgba(255, 255, 255, 1);
                text-decoration: underline;
              }
            }
          }
          //第三層關閉
          ul {
            display: none;
          }
        }
      }
    }
  }
}