.fatfooter {
  @extend %clearfix;
  @include screen('mobile') {
    display: none;
  }
  .container {
    box-sizing: border-box;
    background: $fatfooterBgColor;
    padding: 0 100px 1em 100px;
    @media screen and (max-width: 1200px) {
      padding: 0 3rem 1em 3rem;
    }
    @include screen('tablet') {
      padding: 0 30px 1em 30px;
    }
  }
  // 按鈕
  .btn-fatfooter {
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: #FFF;
    border: none;
    background: #222;
    position: absolute;
    right: calc(50% - 25px);
    top: -25px;
    z-index: 90;
    text-indent: -9999px;
    border-radius: 50%;
    &:before {
      content: "";
      width: 12px;
      height: 12px;
      border: 2px solid #FFF;
      border-left: none;
      border-bottom: none;
      transform: rotate(-45deg);
      transition: .3s ease-out;
    }
    &:hover,
    &:focus {
      background: $fatfooterColor;
      color: #fff;
      text-decoration: none;
      cursor: pointer;
      border: none;
      box-shadow: none;
      outline: none;
      border: none;
      cursor: pointer;
    }
    &.close {
      &:before {
        transform: rotate(135deg) !important;
        top: 5px;
      }
    }
  }
  nav {
    overflow: hidden;
    display: block;
    position: relative;
    padding: 3em 10px 0 10px;
    box-sizing: border-box;
    ul {
      display: flex;
      @include li-reset;
      justify-content: space-between;
      li {
        flex: 1 1 auto;
        box-sizing: border-box;
        @include screen('tablet') {
          flex: 1 1 16%;
        }
        a {
          line-height: 1.5;
          display: block;
          font-weight: bold;
          padding: .5em 0px;
          box-sizing: border-box;
          color: #fff;
          &:hover {
            box-shadow: none;
            color: $linkColor;
          }
        }
        ul {
          display: block;
          margin: 0;
          padding: 0 1em 0 0;
          @include screen('mobile') {
            width: auto;
          }
          li {
            // flex: 0 0 100%;
            a {
              display: block;
              color: rgba(255, 255, 255, .7);
              font-weight: normal;
              text-align: left;
              font-size: .938em;
              line-height: 1.5em;
              padding: .5em 0;
              background: none;
              &:hover {
                color: rgba(255, 255, 255, 1);
                text-decoration: underline;
              }
            }
          }
          //第三層關閉
          ul {
            display: none;
          }
        }
      }
    }
  }
}