//header
.header {
  position: absolute;
  width: 100%;
  height: 90px;
  z-index: 999;
  right: 0;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, .4);
  @extend %clearfix;
  @include screen('mobile') {
    position: fixed;
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.8);
  }
  // mobile btn for extend
  %mobileCtrlBtn {
    width: 60px !important;
    height: 60px !important;
    position: absolute;
    top: 0px;
    display: block;
    font-size: 0em;
    padding: 15px;
    margin: 0;
    min-width: auto;
    min-height: auto;
    background: transparent;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
    @include screen('mobile') {
      display: block !important;
    }
  }
  >.container {
    overflow: visible;
    height: 90px;
    @include screen('mobile') {
      height: 60px;
      text-align: center;
      display: flex;
    }
    .sidebarCtrl {
      display: none;
      left: 0px;
      @extend %mobileCtrlBtn;
      span {
        position: absolute;
        background: #fff;
        width: 50%;
        height: 2px;
        top: 18px;
        left: 50%;
        margin-left: -25%;
        display: block;
        border-radius: 5px;
        &:nth-child(2) {
          top: 28px;
        }
        &:nth-child(3) {
          top: 38px;
        }
      }
    }
    // search
    .searchCtrl {
      display: none;
      right: 0px;
      font-size: 0em;
      @extend %mobileCtrlBtn;
      &:before {
        width: 40px;
        height: 40px;
        background: url(../images/icon_search_.svg) no-repeat center center;
        background-size: 28px;
        content: "";
        position: absolute;
        top: 10px;
        left: 10px;
        display: block;
      }
    }
  }
  h1 {
    float: left;
    margin: 25px 0 0 100px;
    padding: 0;
    box-sizing: border-box;
    font-size: 2.125rem;
    @include screen('tablet') {
      margin: 30px 0 20px 2%;
    }
    @include screen('mobile') {
      margin: 0 auto;
      padding-top: 5px;
    }
    a {
      display: flex;
      white-space: nowrap;
      align-items: center;
      color: #fff;
    }
  }
  // 導覽列
  .navigation {
    float: right;
    clear: none;
    @extend %clearfix;
    box-sizing: border-box;
    display: flex;
    margin-right: 200px;
    margin-top: 10px;
    @include screen('tablet') {
      margin-top: 10px;
      margin-right: 84px;
    }
    @include screen('mobile') {
      display: none;
    }
    .navlist {
      flex: 1 1 auto;
      margin: 0;
      >ul {
        padding: 0;
        margin: 0;
        font-size: .875em;
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        >li {
          flex: 0 0 auto;
          margin-right: 8px;
          position: relative;
          @include screen('tablet') {
            margin-right: 4px;
          }
          >a {
            display: block;
            text-align: center;
            text-decoration: none;
            font-size: 0;
            line-height: 34px;
            width: 34px;
            height: 34px;
            background: #fff;
            border-radius: 50%;
            transition: all 1s;
            &:before {
              content: "";
              width: 34px;
              height: 34px;
              display: inline-block;
            }
            &:hover,
            &:focus {
              background: $navColor;
            }
          }
          &.navHome>a {
            &:before {
              background: url(../images/mp/icon_home.svg) no-repeat center center;
              background-size: 16px;
            }
          }
          &.navSitemap>a {
            &:before {
              background: url(../images/mp/icon_sitemap.svg) no-repeat center center;
              background-size: 16px;
            }
          }
          &.navRss>a {
            &:before {
              background: url(../images/mp/icon_rss.svg) no-repeat center center;
              background-size: 16px;
            }
          }
          &.navMail>a {
            &:before {
              background: url(../images/mp/icon_mail.svg) no-repeat center center;
              background-size: 16px;
            }
          }
          &.navEn>a {
            &:before {
              content: "EN";
              font-size: .875rem;
              font-weight: bold;
              color: #4d84bb;
            }
          }
        }
      }
    }
  }
}

.navSearch,
.navFont {
  margin-right: 0;
  >a {
    width: 90px;
    height: 90px;
    border-radius: 0;
    background: $navColor;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 0;
    line-height: 100%;
    @include screen('tablet') {
      width: 34px;
      height: 34px;
      background: #fff;
      border-radius: 50%;
    }
    &:before {
      position: relative;
      z-index: 9;
    }
    &:hover {
      background: #fff;
    }
  }
}

.navSearch {
  position: absolute;
  top: 0;
  right: 90px;
  @include screen('tablet') {
    right: 50px;
    top: 10px;
  }
  @include screen('mobile') {
    display: none;
    width: 100%;
    right: 0;
    top: 20px;
  }
  >a {
    @include screen('mobile') {
      display: none;
    }
    &:before {
      content: "";
      width: 24px;
      height: 24px;
      display: block;
      background: url(../images/icon_search.svg) no-repeat center center;
      background-size: 24px;
      @include screen('tablet') {
        width: 16px;
        height: 16px;
        background-size: 16px;
      }
    }
  }
  .search {
    position: absolute;
    justify-content: flex-start;
    flex-wrap: wrap;
    vertical-align: top;
    font-size: .9375rem;
    box-sizing: border-box;
    display: flex;
    background: #222;
    z-index: 10;
    min-width: 402px;
    right: 0;
    top: 90px;
    padding: .8rem;
    @include screen('tablet') {
      top: 40px;
    }
    label {
      font-size: 0em;
      @include screen('mobile') {
        display: none;
      }
    }
    .form_grp {
      flex: 0 0 auto;
      margin: 0;
      input {
        margin: 0;
        padding: 0 .4em;
        box-shadow: none;
        width: auto;
        line-height: 36px;
        border-radius: 6px;
        &[type="text"] {
          &:focus {
            border: 1px solid $aFocus;
            box-shadow: 0 0px 0px 1px $aFocus !important;
          }
        }
        &[type="submit"] {
          min-width: auto;
          padding: 0 1em;
          border-radius: 300px;
        }
      }
    }
    .btn_grp {
      flex: 0 0 auto;
      padding: 0 0 0 .5em;
      margin: 0;
      input,
      input[type="submit"] {
        min-width: auto;
        padding: 0 1em;
        border-radius: 300px;
        line-height: 36px;
        margin: 0;
        background: #ccc;
      }
    }
    .keywordHot {
      flex: 1 1 100%;
      ul {
        font-size: .9375rem;
        line-height: 1.65em;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        list-style-type: none;
        &:before {}
        li {
          margin: 0;
          padding: .5rem .5rem 0 .5rem;
          flex: 0 0 auto;
        }
        a {
          color: #fff;
          &:hover {
            color: $navColor;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.navFont {
  position: absolute;
  top: 0;
  right: 0;
  @include screen('tablet') {
    right: 12px;
    top: 10px;
  }
  @include screen('mobile') {
    display: none;
  }
  &:before {
    content: "";
    width: 1px;
    height: 18px;
    background: #222;
    position: absolute;
    left: 0;
    top: 36px;
    z-index: 9;
    @include screen('tablet') {
      display: none;
    }
  }
  >a {
    color: #222;
    font-size: 0;
    font-weight: bold;
    @include screen('mobile') {
      font-size: 1rem;
    }
    &:before {
      content: "Aa";
      color: #222;
      font-size: 1.125rem;
      font-weight: bold;
    }
    &:after {
      display: none;
    }
  }
  .font_size {
    position: absolute;
    z-index: 999;
    background: #222;
    width: 100%;
    text-align: center;
    padding: 0;
    ul {
      display: block;
      flex: 0 0 100%;
      li {
        display: block;
        margin: 0;
        a {
          width: 100%;
          background: transparent;
          border-radius: 0;
          color: #fff;
          &.active {
            background: $navColor;
            color: #fff;
          }
          &:hover,
          &:focus {
            color: #fff;
            background: $navColor_darken;
          }
        }
      }
    }
  }
}

// header fix
.header.fixed {
  position: fixed;
  width: 100%;
  height: 60px;
  right: 0;
  top: 0;
  box-shadow: rgba(0, 0, 0, .5) 0 0 25px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1003;
  @include screen('mobile') {
    background: #FFF;
  }
  .container:before {
    display: none;
  }
  h1 {
    margin: 5px 0 0 60px;
  }
  .menu {
    right: 60px;
    top: 10px;
    >ul {
      margin-left: 0;
      >li {
        >a {
          color: #FFF;
        }
        &:hover {
          >a {
            color: $menuHover;
            &:after {
              border: 2px solid $menuHover;
              border-bottom: none;
              border-left: none;
            }
          }
        }
      }
    }
  }
  .navigation,
  .navSearch,
  .navFont {
    display: none;
  }
}

.m_search {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  z-index: 999;
  background: rgba(0, 0, 0, .8);
  top: 60px;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  justify-content: space-between;
  label {
    font-size: 0em;
    line-height: 0;
  }
  .form_grp {
    width: auto;
    display: flex;
    input[type=text] {
      margin: 0;
      flex: 1 1 auto;
      border: 0;
      padding: 0.65rem .5rem;
      align-self: center;
    }
    .btn {
      padding: 0.65rem 1rem;
      margin-left: 6px;
    }
  }
  .btn_grp {
    padding: 0;
    input {
      padding: 0.65rem .5rem;
      background: $navColor_darken;
      color: #fff;
    }
  }
  .keywordHot {
    width: 100%;
    margin-top: 0.5rem;
    ul {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
      li {
        float: left;
        font-size: 1rem;
        margin-right: 0.5rem;
        a {
          color: #fff;
        }
      }
    }
  }
}