// 首頁區塊設定
.blockTitle {
  font-size: 1.875rem;
  text-align: center;
  color: $primaryColor;
  font-size: 2rem;
  margin-bottom: 2rem;
  margin-top: 0;
  letter-spacing: 1px;
  @include screen('mobile') {
    margin-bottom: 1rem;
  }
  span {
    display: block;
    color: $secondaryColor;
    font-size: 1.75rem;
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    text-transform: uppercase;
    @include screen('mobile') {
      font-size: 1.5rem;
      line-height: 120%;
    }
  }
}

// more按鈕
.more {
  margin-top: 1.5rem;
  font-weight: 500;
  a {
    color: $primaryColor;
    border: 1px solid $primaryColor;
    background: #e5f1dd;
    line-height: 3rem;
    display: inline-block;
    padding: 0 2rem;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    transition: all 1s;
    &:before {
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      background: $primaryColor;
      position: absolute;
      left: 0;
      top: 0;
      transition: all .3s ease-out;
      transform-origin: 50% 50% 0;
      transform: scale(0);
      opacity: 0;
      border-radius: 2px;
    }
    span {
      line-height: 3rem;
      position: relative;
      z-index: 9;
      color: $primaryColor;
    }
    &:hover,
    &:focus {
      background: $primaryColor;
      &:before {
        transform: scale(1);
        opacity: 1;
      }
      span {
        color: #fff;
      }
    }
  }
}

.topAlert {
  position: absolute;
  width: 60px;
  height: 100%;
  z-index: 1000;
  background: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: all 2s;
  left: -60px;
  &.in {
    left: 0;
  }
  @include screen('mobile') {
    width: 100%;
    height: 60px;
    flex-direction: row;
    z-index: 1005;
    transition: none;
  }
  &:before {
    content: "";
    width: 60px;
    height: 100%;
    display: block;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 11;
    @include screen('mobile') {
      display: none;
    }
  }
  >ul {
    @include li-reset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @include screen('mobile') {
      flex-direction: row;
      width: 100%;
    }
    >li {
      padding: 6px 0 10px 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      @include screen('mobile') {
        flex-direction: row;
        width: 33.333%;
        justify-content: center;
        padding: 0;
      }
      &:after {
        content: "";
        margin: 12px auto 0 auto;
        width: 12px;
        height: 3px;
        display: inline-block;
        background: $primaryColor;
        z-index: 12;
        @include screen('mobile') {
          display: none;
        }
      }
      >a {
        -webkit-writing-mode: vertical-lr;
        writing-mode: vertical-lr;
        padding: 20px;
        color: $primaryColor;
        display: flex;
        align-items: center;
        z-index: 12;
        transition: all .5s;
        @include screen('mobile') {
          -webkit-writing-mode: horizontal-tb;
          writing-mode: horizontal-tb;
          width: 100%;
          justify-content: center;
          background: #fff;
          line-height: 60px;
          padding: 0;
        }
        &.active,
        &:hover,
        &:focus {
          background: $primaryColor;
          color: #fff;
        }
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
      .alertBlock {
        position: absolute;
        z-index: 9;
        left: -300px;
        top: 0;
        width: 360px;
        height: 100%;
        background: $primaryColor;
        transition: all .5s;
        padding: 80px 60px;
        @include screen('tablet') {
          padding: 80px 50px;
        }
        @include screen('mobile') {
          width: 100%;
          height: auto;
          left: 0;
          top: -600px;
          padding: 30px;
        }
        &:before {
          content: "";
          width: 160px;
          height: 50px;
          display: block;
          background: url("../images/mp/logo.png") no-repeat 0 0;
          position: absolute;
          left: 40px;
          top: 25px;
          @include screen('mobile') {
            display: none;
          }
        }
        &.active {
          left: 60px;
          @include screen('mobile') {
            left: 0;
            top: 60px;
          }
        }
        .alertClose {
          font-size: 0;
          line-height: 100%;
          position: absolute;
          right: 20px;
          top: 20px;
          width: 48px;
          height: 48px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all .5s;
          @include screen('mobile') {
            right: 0;
            top: auto;
            bottom: 0;
            font-size: 1rem;
            color: #fff;
            border-top: 1px solid #fff;
            border-left: 1px solid #fff;
            width: auto;
            height: auto;
            padding: 8px 16px;
          }
          &:before {
            content: "";
            width: 30px;
            height: 30px;
            display: block;
            background: url(../images/basic/icon_close.svg) no-repeat center center;
            background-size: 30px;
            @include screen('mobile') {
              display: none;
            }
          }
          &:hover,
          &:focus {
            background: rgba(0, 0, 0, .3);
          }
        }
        .alertTxt {
          width: 100%;
          height: 500px;
          color: #fff;
          letter-spacing: .05rem;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          justify-content: center;
          @include screen('tablet') {
            height: auto;
          }
          a {
            color: #fff;
          }
          h2 {}
          p,
          div {
            line-height: 160%;
            margin-top: 0;
          }
          ul {
            font-size: 1.125rem;
            @include li-reset;
            li {
              line-height: 160%;
              margin: .5rem 0;
              a {}
            }
          }
          .more {
            a {
              color: #fff;
              border: 1px solid #fff;
              padding: 0 1rem;
              background: transparent;
              span {
                color: #fff;
              }
              &:hover,
              &:focus {
                &:before {
                  background: #fff;
                }
                span {
                  color: $primaryColor;
                }
              }
            }
          }
        }
      }
      &.alert {
        a {
          color: #e25123;
          &.active,
          &:hover,
          &:focus {
            color: #fff;
            background: #e25123;
          }
        }
        &:after {
          background: #e25123;
        }
        .alertBlock {
          background: #e25123;
          .alertTxt {
            .more {
              a {
                &:hover {
                  span {
                    color: #e25123;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.linkBlock {
  position: fixed;
  right: 0;
  top: 250px;
  z-index: 1004;
  background: rgba(0, 0, 0, .8);
  @include screen('tablet') {
    display: none;
  }
  ul {
    @include li-reset;
    li {
      border-bottom: 1px solid rgba(255, 255, 255, .3);
      &:last-child {
        border-bottom: 0;
      }
      a {
        padding: 8px 10px;
        display: flex;
        align-items: center;
        color: #fff;
        span {
          margin-right: 8px;
          img {
            vertical-align: middle;
          }
        }
        &:hover,
        &:focus,
        &.active {
          background: $secondaryColor;
        }
      }
    }
  }
}

.weatherBlock {
  position: absolute;
  top: 100px;
  right: 32px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  @include screen('tablet') {
    right: 60px;
  }
  @include screen('mobile') {
    top: 70px;
    right: 40px;
  }
  .weather_icon {
    width: 68px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 56px;
      height: auto;
    }
  }
  .temperature {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    width: 100%;
    text-align: center;
    overflow: hidden;
    padding: 6px 0;
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    span {
      font-size: 2.25rem;
      line-height: 100%;
      vertical-align: top;
    }
  }
  .today {
    font-size: .8125rem;
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  }
}

.hero {
  position: relative;
  @include screen('mobile') {
    padding-top: 60px;
  }
  &:before {
    content: "";
    width: 940px;
    height: 131px;
    display: block;
    background-image: url(../images/mp/decopic5.png);
    background-position: 0 0;
    position: absolute;
    left: 0;
    z-index: 1002;
    bottom: -60px;
    animation-name: wave;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    @include screen('tablet') {
      display: none;
    }
  }
  .deco {
    width: 443px;
    height: 131px;
    display: block;
    background: url(../images/mp/decopic4.png) no-repeat 0 0;
    position: absolute;
    left: -100px;
    z-index: 1001;
    bottom: -60px;
    font-size: 0;
    line-height: 100%;
    @include screen('tablet') {
      left: -200px;
      bottom: -80px;
      background: url(../images/mp/decopic.png) no-repeat 0 0;
    }
    @include screen('mobile') {
      display: none;
    }
  }
}

@keyframes wave {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: -2000px 0;
  }
  100% {
    background-position: 0 0;
  }
}

.mpSliderBlock {
  @include screen('mobile') {
    margin-top: 60px;
  }
  .mpSlider {
    // margin-left: 60px;
    // @include screen('mobile') {
    //   margin-left: 0;
    // }
    .img-container {
      @include aspect-ratio(1200,
      663);
    }
    .slick-dots {
      bottom: 25px;
      height: 18px;
      z-index: 1003;
      li {
        button {
          background: #fff;
          opacity: 1;
          &:hover,
          &:focus {
            background: #71c673;
          }
        }
        &.slick-active button {
          background: #545292;
        }
      }
    }
    .slick-prev,
    .slick-next {
      top: 45%;
    }
    .slick-prev {
      left: 70px;
      @include screen('mobile') {
        left: 10px;
      }
    }
  }
}

.liveVideoBlock {
  .openliveVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 262px;
    height: 70px;
    display: block;
    color: #090909;
    z-index: 1003;
    background: #fff;
    line-height: 70px;
    padding-left: 70px;
    transition: all .5s;
    @include screen('tablet') {
      width: 200px;
    }
    @include screen('mobile') {
      position: relative;
      width: 100%;
      bottom: auto;
      height: 50px;
      line-height: 50px;
      padding-left: 60px;
      border-bottom: 1px solid #222;
    }
    &:before {
      content: "";
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: block;
      position: absolute;
      left: 30px;
      top: 25px;
      border: 1px solid #090909;
      transition: all .5s;
      @include screen('mobile') {
        top: 16px;
        left: 20px;
      }
    }
    &:after {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 4px 0 4px 8px;
      border-color: transparent transparent transparent #090909;
      position: absolute;
      left: 39px;
      top: 32px;
      @include screen('mobile') {
        top: 23px;
        left: 29px;
      }
    }
    &:hover,
    &:focus {
      background: #85c47b;
      &:before {
        border: 1px solid #fff;
      }
      &:after {
        border-color: transparent transparent transparent #fff;
      }
    }
  }
  .liveVideo {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1007;
    background: rgba(0, 0, 0, .9);
    .video-container {
      position: relative;
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .videoClose {
      font-size: 0;
      line-height: 100%;
      position: absolute;
      right: 20px;
      top: 20px;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all .5s;
      &:before {
        content: "";
        width: 30px;
        height: 30px;
        display: block;
        background: url(../images/basic/icon_close.svg) no-repeat center center;
        background-size: 30px;
      }
      &:hover,
      &:focus {
        background: rgba(0, 0, 0, .3);
      }
    }
  }
}

.infoBlock {
  padding: 3.5rem 0 115px 0;
  flex-basis: 100%;
  clear: both;
  position: relative;
  z-index: 9;
  @media screen and (max-width: 900px) {
    padding: 30px 0 80px 0;
  }
  @include screen('mobile') {
    padding: 30px 0;
  }
  // &:after {
  //   content: "";
  //   width: 443px;
  //   height: 131px;
  //   display: block;
  //   background: $decoPic no-repeat 0 0;
  //   position: absolute;
  //   right: -100px;
  //   z-index: 10;
  //   bottom: 40px;
  // }
  .deco {
    width: 443px;
    height: 131px;
    display: block;
    background: $decoPic no-repeat 0 0;
    position: absolute;
    right: -100px;
    z-index: 10;
    bottom: 40px;
    font-size: 0;
    line-height: 100%;
    @include screen('mobile') {
      display: none;
    }
  }
  .blockTitle {
    text-align: right;
    @include screen('mobile') {
      text-align: center;
    }
  }
  .infoText {
    width: calc(100% - 565px);
    float: left;
    @media screen and (max-width: 900px) {
      width: 35%;
    }
    @include screen('mobile') {
      width: 100%;
      float: none;
    }
    .info_title {
      font-size: 1.375rem;
      font-weight: bold;
      margin-top: 60px;
      @media screen and (max-width: 900px) {
        margin-top: 0;
      }
      @include screen('mobile') {
        text-align: center;
      }
    }
    .info_text {
      position: relative;
      color: #1a1a1a;
      &:after {
        content: "";
        display: block;
        background: #d1e4c9 url(../images/mp/decopic2.png) no-repeat -280px 400px;
        position: absolute;
        left: -60px;
        right: -100px;
        bottom: -350px;
        top: 0;
        z-index: 9;
        background-size: 160%;
        @include screen('tablet') {
          bottom: -150px;
          background-size: auto;
        }
        @include screen('mobile') {
          bottom: -220px;
        }
      }
      p {
        position: relative;
        z-index: 10;
        padding-top: 20px;
        margin-bottom: 0;
        color: #333;
        line-height: 200%;
        @include screen('tablet') {
          line-height: 180%;
        }
      }
    }
    .more {
      z-index: 10;
      margin-top: 36px;
      position: relative;
      text-align: center;
      @media screen and (max-width: 900px) {
        margin-top: 1rem;
      }
      @include screen('mobile') {
        margin-bottom: 2rem;
      }
    }
  }
  .infoPic {
    width: 535px;
    float: right;
    position: relative;
    z-index: 10;
    @media screen and (max-width: 900px) {
      width: 60%;
    }
    @include screen('mobile') {
      width: 100%;
      float: none;
    }
    @media screen and (max-width: 850px) {}
    img {
      @media screen and (max-width: 900px) {
        @include aspect-ratio(535, 364);
      }
      @include screen('mobile') {
        width: 100%;
      }
    }
  }
}

.albumSliderBlock {
  position: relative;
  width: 50%;
  z-index: 10;
  padding-top: 72px;
  @include screen('mobile') {
    width: 100%;
    padding-top: 0;
    margin-bottom: 85px;
  }
  .albumSlider {
    .img-container {
      @include aspect-ratio(540,
      364);
    }
    .albumSlider_text {
      position: absolute;
      width: 100%;
      background: rgba(0, 0, 0, 0.45);
      padding: 1em 4rem .6rem 1rem;
      margin: 0;
      bottom: 0;
      z-index: 2;
      text-align: left;
      box-sizing: border-box;
      .caption {
        font-size: 1.125rem;
        position: relative;
        background: none;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 0;
        height: auto;
        line-height: 100%;
        color: #FFF;
        text-align: left;
        margin-block: 4px;
      }
      time {
        margin: 0;
        color: rgba(255, 255, 255, .8);
        display: inline-block;
        font-size: 1rem;
        font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
      }
    }
  }
  .slick-dots {
    bottom: -20px;
    @include screen('mobile') {
      justify-content: flex-end;
    }
  }
  .slick-prev,
  .slick-next {
    top: auto;
    bottom: -60px;
    width: 60px !important;
    height: 60px !important;
    margin: 0;
    @include screen('mobile') {
      height: 60px !important;
    }
  }
  .slick-prev {
    left: 0;
    background: url('../images/slick/icon_arrow_left_inverse.png') center center no-repeat $secondaryColor;
    background-size: 30px 30px;
    /* 箭頭 hover及focus 樣式 */
    &:hover,
    &:focus {
      background: url('../images/slick/icon_arrow_left_inverse.png') center center no-repeat $primaryColorDarken;
      background-size: 30px 30px;
    }
  }
  .slick-next {
    left: 70px;
    right: auto;
    background: url('../images/slick/icon_arrow_right_inverse.png') center center no-repeat $secondaryColor;
    background-size: 30px 30px;
    /* 箭頭 hover及focus 樣式 */
    &:hover,
    &:focus {
      background: url('../images/slick/icon_arrow_right_inverse.png') center center no-repeat $primaryColorDarken;
      background-size: 30px 30px;
    }
  }
}

.tabNewsBlock {
  width: 50%;
  position: relative;
  z-index: 11;
  @include screen('mobile') {
    width: 100%;
  }
  .blockTitle {
    text-align: right;
    @include screen('mobile') {
      text-align: center;
    }
  }
  .tabSet {
    position: relative;
    overflow: visible;
    padding: 1rem 0;
    @include screen('mobile') {
      padding: 2rem 0;
    }
    &:before {
      content: "";
      position: absolute;
      left: -50px;
      right: -60px;
      top: 0;
      bottom: 95px;
      display: block;
      z-index: 10;
      background: $primaryColorDarken;
      @include screen('mobile') {
        left: -60px;
        right: -60px;
        bottom: 0;
      }
    }
    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: -60px;
      top: 0;
      bottom: 0;
      display: block;
      z-index: 9;
      background: #d6e4cd;
      @include screen('mobile') {
        display: none;
      }
    }
    .tabs {
      position: relative;
      z-index: 11;
      .tabItem {
        &.active {
          border-bottom: 2px solid #fff;
          @include screen('mobile') {
            border-bottom: 0;
          }
          a {
            background: transparent;
            @include screen('mobile') {
              background: #fff;
              color: $primaryColorDarken;
              border-bottom: 0;
            }
            &:hover,
            &:focus {
              background: $secondaryColor;
            }
          }
        }
        a {
          font-size: 1.0625rem;
          padding: .5rem 1.2rem;
          background: transparent;
          // transition: all .5s;
          @include screen('mobile') {
            font-size: 1.25rem;
            padding: 1rem;
            background: #fff;
            color: $primaryColorDarken;
          }
          &:hover,
          &:focus {
            background: $secondaryColor;
            @include screen('mobile') {
              color: #fff;
            }
            span {
              @include screen('mobile') {
                color: #fff;
              }
            }
          }
        }
      }
      .tabContent.news {
        padding: 1rem 0 0 0;
        @include screen('mobile') {
          padding: 1rem 0;
        }
        ul {
          li {
            border-bottom: 1px solid rgba(255, 255, 255, .3);
            padding: .5rem 0;
            &:last-child {
              border-bottom: 0;
            }
            .news_txt {
              line-height: 160%;
              margin-bottom: 4px;
              a {
                color: #fff;
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                &:hover,
                &focus {
                  color: #d1e4c9;
                }
              }
            }
            time {
              margin: 0;
              padding: 0 14px;
              color: #333;
              background: #fff;
              display: inline-block;
              font-size: 1rem;
              font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
            }
            .news_dep {
              display: inline-block;
              margin: 0 0 0 -5px;
              padding: 0 14px;
              color: #fff;
              background: #000;
            }
          }
        }
        .more {
          margin-top: 2.5rem;
          text-align: right;
          @include screen('mobile') {
            margin-top: 1rem;
            text-align: center;
          }
          a {
            @include screen('mobile') {
              background: transparent;
              color: #fff;
              border: 1px solid #fff;
              span {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}

.bannerSliderBlock {
  padding: 60px 100px;
  width: 100%;
  clear: both;
  position: relative;
  // &:before {
  //   content: "";
  //   width: 443px;
  //   height: 131px;
  //   display: block;
  //   background: $decoPic no-repeat 0 0;
  //   position: absolute;
  //   right: -180px;
  //   z-index: 9;
  //   bottom: 15px;
  // }
  @include screen('tablet') {
    padding: 30px 0 60px 0;
  }
  @include screen('mobile') {
    padding: 30px 30px 60px 30px;
    margin-bottom: 20px;
  }
  .deco {
    width: 443px;
    height: 131px;
    display: block;
    background: $decoPic no-repeat 0 0;
    position: absolute;
    right: -180px;
    z-index: 9;
    bottom: 15px;
    font-size: 0;
    line-height: 100%;
    @include screen('mobile') {
      display: none;
    }
  }
  .bannerSlider {
    width: 75%;
    position: relative;
    z-index: 10;
    @include screen('mobile') {
      width: 100%;
    }
    .img-container {
      @include aspect-ratio(709,
      283);
    }
    .slick-dots {
      bottom: -30px;
    }
    .slick-prev {
      left: -60px;
      margin: 0;
      top: 37%;
    }
    .slick-next {
      right: -60px;
      margin: 0;
      top: 37%;
    }
  }
}

.serviceBlock {
  padding: 3rem 60px;
  width: 100%;
  position: relative;
  margin-top: 2rem;
  @media screen and (max-width: 1200px) {
    padding: 0 0 3rem 0;
    margin-top: 0;
  }
  @include screen('mobile') {
    padding: 0 0 2rem 0;
  }
  &:before {
    content: "";
    background: #d6e4cd;
    position: absolute;
    left: -60px;
    right: -60px;
    bottom: 0;
    top: 200px;
    display: block;
    @include screen('mobile') {
      top: 130px
    }
  }
  .more {
    text-align: center;
    margin: 1rem 0 0 0;
  }
  ul {
    @include li-reset;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
      flex: 0 1 48%;
      margin-bottom: 25px;
      min-height: 90px;
      position: relative;
      overflow: hidden;
      @media screen and (max-width: 1080px) {
        min-height: 100px;
      }
      @include screen('tablet') {
        min-height: 110px;
      }
      @media screen and (max-width: 900px) {
        flex: 0 1 49%;
        min-height: 110px;
        margin-bottom: 1rem;
      }
      @include screen('mobile') {
        flex: 0 1 100%;
        min-height: 90px;
      }
      .service {
        height: 100%;
        a {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          background: $primaryColorDarken;
          overflow: hidden;
          transition: all .5s;
          z-index: 9;
          .service_pic {
            flex: 0 1 40%;
            min-height: 90px;
            position: relative;
            overflow: hidden;
            @media screen and (max-width: 1080px) {
              min-height: 100px;
            }
            @include screen('tablet') {
              min-height: 110px;
            }
            @media screen and (max-width: 900px) {
              min-height: 110px;
            }
            img {
              object-fit: cover;
              z-index: 9;
            }
            &:before {
              content: "";
              width: 100%;
              height: 100px;
              display: block;
              background: #000;
              position: absolute;
              left: 0;
              top: 0;
              z-index: 10;
              opacity: .3;
              transition: all .5s;
            }
          }
          .service_title {
            text-align: center;
            font-size: 1.375rem;
            color: #fff;
            font-weight: bold;
            flex: 1 1 auto;
            position: relative;
            &:before {
              content: "";
              width: 6px;
              height: 6px;
              border-right: 2px solid #fff;
              border-top: 2px solid #fff;
              display: block;
              transform: rotate( 45deg);
              position: absolute;
              right: 30px;
              top: .5rem;
            }
          }
          &:hover,
          &:focus {
            background: $secondaryColor;
            .service_pic {
              &:before {
                opacity: 0;
              }
            }
          }
        }
      }
      .service_detail {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;
        left: 0;
        top: 100%;
        background: $secondaryColor;
        display: flex;
        align-items: center;
        transition: all .5s;
        overflow: hidden;
        &.active {
          top: 0;
        }
        .service_title {
          display: flex;
          align-self: stretch;
          a {
            text-align: center;
            font-size: 1.375rem;
            color: #fff;
            font-weight: bold;
            flex: 1 1 auto;
            display: block;
            white-space: nowrap;
            padding: 0 44px;
            align-self: center;
            @include screen('tablet') {
              padding: 0 20px;
            }
            @include screen('mobile') {
              padding: 0 10px;
            }
          }
        }
        .service_link {
          padding: 10px 2rem;
          color: rgba(255, 255, 255, .5);
          border-left: 2px solid #fff;
          @include screen('tablet') {
            padding: 10px 20px;
          }
          a {
            color: #fff;
            &:last-child:before {
              display: none
            }
            &:hover,
            &:focus {
              color: #d1e4c9;
              text-decoration: underline
            }
          }
        }
      }
    }
  }
}

.videoBlock {
  width: 540px;
  margin-top: 110px;
  position: relative;
  z-index: 10;
  @media screen and (max-width: 1150px) {
    width: 460px;
  }
  @include screen('tablet') {
    width: 400px;
  }
  @media screen and (max-width: 900px) {
    width: 350px;
    margin-top: 60px;
  }
  @media screen and (max-width: 850px) {
    width: 100%;
    margin-top: 50px;
  }
  @include screen('mobile') {
    margin-top: 30px;
  }
  .blockTitle {
    text-align: left;
    margin-top: 0;
    @media screen and (max-width: 850px) {
      text-align: center;
    }
  }
  .videoSlider {
    .img-container {
      @include aspect-ratio(540,
      310);
    }
    .caption {}
    .slick-dots {
      display: none;
    }
  }
  .more {
    text-align: center;
  }
}

.magazineBlock {
  flex: 1 1 auto;
  margin-top: 110px;
  padding: 70px 0;
  text-align: center;
  position: relative;
  z-index: 9;
  @media screen and (max-width: 900px) {
    padding: 40px 0;
    margin-top: 60px;
  }
  @media screen and (max-width: 850px) {
    margin-top: 40px;
  }
  // &:before {
  //   content: "";
  //   width: 443px;
  //   height: 131px;
  //   display: block;
  //   background: $decoPic no-repeat 0 0;
  //   position: absolute;
  //   right: -80px;
  //   z-index: 10;
  //   bottom: -75px;
  // }
  .deco {
    width: 443px;
    height: 131px;
    display: block;
    background: $decoPic no-repeat 0 0;
    position: absolute;
    right: -80px;
    z-index: 10;
    bottom: -75px;
    font-size: 0%;
    line-height: 100%;
  }
  &:after {
    content: "";
    display: block;
    background: #d1e4c9 url(../images/mp/decopic3.png) no-repeat -35px -10px;
    position: absolute;
    left: -60px;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 9;
    @media screen and (max-width: 850px) {
      left: 0;
    }
    @include screen('mobile') {
      left: -30px;
      right: -30px;
      background: #d1e4c9 url(../images/mp/decopic3.png) no-repeat 0 -10px;
      background-size: 100%;
    }
  }
  .magazine_pic {
    position: relative;
    z-index: 10;
    img {
      width: 314px;
      height: auto;
      box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    }
  }
  .more {
    z-index: 10;
    position: relative;
  }
}

.statisticsBlock {
  width: 100%;
  clear: both;
  margin-top: 4.375rem;
  position: relative;
  @include screen('mobile') {
    margin-top: 30px;
  }
  &:after {
    content: "";
    width: 446px;
    height: 550px;
    background: #d1e4c9 url(../images/mp/decopic3.png) no-repeat -35px bottom;
    position: absolute;
    left: -60px;
    top: 140px;
    z-index: 9;
    @include screen('tablet') {
      width: 310px;
    }
    @include screen('mobile') {
      display: none;
    }
  }
  .blockTitle {
    text-align: left;
    margin: 0 0 60px 0;
    @include screen('mobile') {
      text-align: center;
      margin: 0 0 1rem 0;
    }
  }
  ul {
    @include li-reset;
    position: relative;
    margin-left: -60px;
    padding: 85px 0;
    z-index: 10;
    @include screen('mobile') {
      padding: 0;
      display: flex;
      margin-left: 0;
      flex-direction: row;
      width: 100%;
    }
    li {
      @include screen('mobile') {
        flex: 1 1 33.33%;
      }
      a.statistics {
        width: 480px;
        padding-left: 220px;
        padding-right: 56px;
        height: 130px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $primaryColorDarken;
        box-sizing: border-box;
        transition: all .5s;
        position: relative;
        z-index: 12;
        @include screen('tablet') {
          width: 330px;
          padding-left: 110px;
          padding-right: 30px;
        }
        @include screen('mobile') {
          padding: 10px;
          width: 100%;
          background: #d6e4cd;
          align-items: center;
          height: 80px;
        }
        &:before {
          content: "";
          width: 86px;
          height: 86px;
          display: block;
          position: absolute;
          left: 130px;
          background: url(../images/mp/icon_chart1.png) no-repeat;
          transition: all .5s;
          @include screen('tablet') {
            left: 20px;
          }
          @include screen('mobile') {
            display: none;
          }
        }
        &:hover {
          background: $secondaryColor;
          color: #fff;
          &:before {
            background: url(../images/mp/icon_chart1_.png) no-repeat;
          }
        }
        &.active {
          background: $primaryColorDarken;
          color: #fff;
          &:before {
            background: url(../images/mp/icon_chart1_.png) no-repeat;
          }
        }
        .number {
          text-align: left;
          font-size: 1rem;
          @include screen('mobile') {
            text-align: center;
          }
          em {
            font-size: 2.375rem;
            font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
            font-style: normal;
            @include screen('mobile') {
              font-size: 1.125rem;
            }
          }
        }
        .title {
          font-size: 1.125rem;
          text-align: left;
          font-weight: bold;
          margin-top: 8px;
        }
      }
      &:nth-child(2) {
        a.statistics {
          &:before {
            background: url(../images/mp/icon_chart2.png) no-repeat;
          }
        }
        a.statistics.active,
        a.statistics:hover {
          &:before {
            background: url(../images/mp/icon_chart2_.png) no-repeat;
          }
        }
      }
      &:nth-child(3) {
        a.statistics {
          &:before {
            background: url(../images/mp/icon_chart3.png) no-repeat;
          }
        }
        a.statistics.active,
        a.statistics:hover {
          &:before {
            background: url(../images/mp/icon_chart3_.png) no-repeat;
          }
        }
      }
      .chart {
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        @include screen('tablet') {
          width: 55%;
        }
        @include screen('mobile') {
          width: 100%;
          top: 100px;
        }
        .source {
          text-align: right;
          @include screen('mobile') {
            text-align: center;
          }
        }
        h3 {
          font-size: 1.5rem;
          text-align: center;
        }
        .img-container {
          @include aspect-ratio(520,
          336);
          a {}
        }
        .more {}
      }
      .more {
        text-align: center;
        a {
          color: #fff;
          border: 1px solid $secondaryColor;
          background: $secondaryColor;
          span {
            color: #fff;
          }
          &:hover,
          &:focus {
            border: 1px solid $primaryColor;
          }
        }
      }
    }
  }
}

.adBlock {
  margin: 4.375rem 0;
  overflow: hidden;
  @extend %clearfix;
  @include screen('mobile') {
    margin: 700px 0 0 0;
  }
  @media screen and (max-width: 600px) {
    margin: 580px 0 0 0;
  }
  @media screen and (max-width: 500px) {
    margin: 450px 0 0 0;
  }
  .adSlider {
    padding: 0 40px;
    .slick-prev {
      left: 0;
      top: 0;
    }
    .slick-next {
      right: 0;
      top: 0;
    }
    .img-container {
      width: 186px;
      height: 74px;
      margin: 0px 8px;
      a {
        display: block;
        text-align: center;
        img {
          margin: 0 auto;
          object-fit: contain;
        }
      }
      &:focus {
        &:before {
          content: "";
          position: absolute;
          z-index: 9;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          box-shadow: 0 0px 0px 3px $primaryColor inset;
        }
      }
    }
  }
}

.contactBlock {
  width: 100%;
  margin: 10px 85px 64px 85px;
  @include screen('tablet') {
    margin: 10px 0 64px 0;
  }
  @include screen('mobile') {
    margin: 30px 0 40px 0;
  }
  .blockTitle {
    text-align: center;
  }
  .contact {
    background: #000;
    ul {
      @include li-reset;
      display: flex;
      align-items: stretch;
      @include screen('mobile') {
        flex-wrap: wrap;
      }
      li {
        flex: 0 1 18%;
        height: 90px;
        @include screen('tablet') {
          flex: 0 1 16%;
        }
        @include screen('mobile') {
          flex: 0 1 33.33%;
        }
        a {
          height: 100%;
          color: #fff;
          display: block;
          display: flex;
          flex-direction: column;
          text-align: center;
          justify-content: center;
          align-items: center;
          transition: all .5s;
          span {
            padding: 10px 26px;
            border: 1px solid #fff;
            border-radius: 2px;
            margin-left: 1rem;
            @include screen('tablet') {
              padding: 10px 5px;
              margin-left: .5rem;
            }
            @include screen('mobile') {
              padding: 10px 16px;
            }
          }
          &:after {
            content: "";
            width: 6px;
            height: 6px;
            border-right: 2px solid #fff;
            border-top: 2px solid #fff;
            display: block;
            transform: rotate( 135deg);
            margin-top: 8px;
          }
          &:hover,
          &:focus {
            background: $primaryColor;
          }
        }
        &:last-child {
          flex: 1 1 auto;
          background: $secondaryColor;
          a {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            &:after {
              display: none;
            }
          }
        }
      }
    }
  }
}