* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #d6d5d6;
  &.noscroll {
    position: static !important;
    width: 100%;
    height: 100%;
    overflow: hidden !important;
    overflow-y: hidden !important;
    margin: 0;
    padding: 0;
  }
}

.hidden {
  display: none;
}

// 最外圍預設為100%
.wrapper {
  width: 1200px;
  margin: 0px auto;
  background: #fff;
  position: relative;
  overflow: hidden;
  @media screen and (max-width: 1200px) {
    width: 100%;
  }
  @include screen('mobile') {
    overflow: hidden;
    overflow-y: auto;
  }
}

// 整體共用container樣式，請注意首頁切版頁面的整齊
.container {
  padding: 0;
  margin: 0 auto;
  max-width: $container-max; //請看_variable.scss
}

.main {
  position: relative;
  margin: 0 auto;
  padding: 0 60px;
  @include screen('mobile') {
    padding: 0 30px;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    .accesskey {
      margin-top: 50px;
    }
  }
  h2 {
    line-height: 1.25em;
  }
  &.small_size {
    font-size: .938em;
  }
  &.large_size {
    font-size: 1.125em;
  }
  // 文章標題
  h1.title,
  h2.title {
    line-height: 1.25em;
    margin: 1.8em 0 .4em 0;
    color: #4a3278;
  }
}

.inner_img {
  width: 100%;
  height: 300px;
  position: relative;
  img {
    width: 100%;
    height: 300px;
  }
  &:before {
    content: "";
    width: 443px;
    height: 131px;
    display: block;
    background: $decoPic no-repeat 0 0;
    position: absolute;
    right: -100px;
    z-index: 99;
    bottom: -80px;
  }
  &:after {
    content: "";
    width: 100%;
    height: 50px;
    display: block;
    position: absolute;
    left: 0;
    background: #dedede;
    bottom: -50px;
  }
}

////////////////////////////////////////////////////////////
// 為了與首頁區隔，請在內頁加上innerpage ClassName
.innerpage {
  padding: 14px 60px 20px 60px;
  >.container {
    .accesskey {
      left: -30px;
      margin-top: 0;
      top: -2px;
    }
  }
  .center_block {
    flex: auto;
    max-width: 100%;
    // overflow: hidden;
    padding-bottom: 3rem;
  }
  .left_block {
    flex: 0 0 260px;
    max-width: 260px;
    // float: left;
    // width: 260px;
    margin-right: 40px;
    margin-top: 36px;
    &.hidden {
      +.center_block {
        max-width: 100%;
      }
    }
    +.center_block {
      max-width: calc(100% - 300px);
    }
    @include screen('tablet') {
      display: none;
      +.center_block {
        max-width: 100%;
      }
    }
  }
}

.left_block {
  padding-bottom: 2em;
  flex-basis: 240px;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 2em;
  @include screen('mobile') {
    float: none;
    display: block;
    width: 100%;
    margin-right: 0;
    margin-bottom: 1em;
    padding-bottom: 0;
  }
  +.center_block {
    max-width: 798px;
  }
  nav {
    .left_title {
      background: $leftmenuColor;
      padding: .7em 1em;
      text-align: center;
      color: #fff;
      font-size: 1.25em;
      font-weight: normal;
      letter-spacing: 1px;
      margin: 0;
      @include screen('mobile') {
        font-size: 1em;
        text-align: left;
        position: relative;
        &:before {
          content: "";
          width: 5px;
          height: 5px;
          display: block;
          border-right: 2px solid #fff;
          border-top: 2px solid #fff;
          transform: rotate(135deg);
          vertical-align: middle;
          position: absolute;
          top: 18px;
          right: 15px;
        }
      }
    }
    >ul {
      @include li-reset;
      border: 2px solid #ccc;
      border-top: 0;
      @include screen('mobile') {
        display: none;
      }
      >li {
        border-bottom: 1px solid #ccc;
        &:last-child {
          border-bottom: 0;
        }
        >a {
          padding: .6em 1em .6em 2em;
          display: block;
          color: #444;
          font-weight: bold;
          position: relative;
          &:before {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 0 5px 6px;
            border-color: transparent transparent transparent #444;
            display: block;
            position: absolute;
            left: 15px;
            top: 17px;
          }
          &:hover,
          &:focus {
            background: $leftmenuHover;
            box-shadow: none;
            &:before {
              content: "";
              border-color: transparent transparent transparent #444;
            }
          }
          &.active {
            color: #fff;
            background: $leftmenuActive;
            &:before {
              content: "";
              border-color: transparent transparent transparent #fff;
            }
            &:hover {
              color: #444;
              background: $leftmenuHover;
              &:before {
                content: "";
                border-color: transparent transparent transparent #444;
              }
            }
          }
        }
        ul {
          @include li-reset;
          font-size: 0.875em;
          background: #f5f5f5;
          li {
            border-top: 1px dotted #ccc;
            a {
              padding: .6em 1em .6em 2.1em;
              display: block;
              color: #444;
              position: relative;
              &:before {
                content: "";
                width: 5px;
                height: 5px;
                display: block;
                border-right: 2px solid #515151;
                border-top: 2px solid #515151;
                transform: rotate(45deg);
                vertical-align: middle;
                position: absolute;
                left: 13px;
                top: 17px;
              }
              &.active {
                color: #222;
                background: #ddd;
              }
              &:hover,
              &:focus {
                color: $leftmenuColor;
                box-shadow: none;
              }
            }
          }
        }
      }
    }
  }
}

.fp {
  margin: 1em auto 2em;
  @include box-sizing;
  padding: 1.5em 4em 1em;
  border: 1px solid #ddd;
  border-top: 3px solid $primaryColor;
  position: relative;
  @include screen('mobile') {
    padding: 1.5em 1em 1em;
  }
  // &:before {
  //   content: "";
  //   width: 443px;
  //   height: 131px;
  //   display: block;
  //   background: $decoPic no-repeat right center;
  //   position: absolute;
  //   right: -50px;
  //   bottom: -60px;
  //   z-index: 11;
  //   @include screen('tablet') {
  //     display: none;
  //   }
  // }
  .form_grid {
    margin: 0;
    .form_grp {
      display: flex;
      @include screen('mobile') {
        flex-direction: row;
        flex-wrap: wrap;
      }
      .form_title {
        max-width: 200px;
        flex: 0 0 200px;
        padding-left: 0;
        text-align: right;
        @include screen('mobile') {
          flex: 1 1 100%;
          text-align: left;
        }
      }
      .form_content {
        padding-right: 0;
        max-width: calc(100% - 200px);
        flex: auto;
        flex-basis: calc(100% - 200px);
        @include screen('mobile') {
          flex: 1 1 100%;
        }
        input {
          margin-left: 0;
          margin-top: 0;
        }
        img.captcha {
          margin-left: 0;
        }
        a.refresh,
        a.play {
          display: inline-block;
          text-align: center;
          vertical-align: middle;
          text-decoration: none;
          white-space: nowrap;
          line-height: 38px;
          padding: 0 1.5em 0 2.5em;
          margin: 0 0em .3em .5em;
          border: 1px solid #ccc;
          color: #444;
          border-radius: 2px;
          transition: all .5s;
          position: relative;
          background: #fff;
          &:hover {
            background: #444;
            border: 1px solid #222;
            color: #fff;
            &:before {
              filter: invert(1);
            }
          }
        }
        a.refresh {
          @include screen('mobile') {
            margin-left: 0;
          }
        }
        a.refresh:before {
          content: "";
          width: 16px;
          height: 16px;
          display: block;
          position: absolute;
          background: url(../images/basic/icon_refresh.png) no-repeat 0 0;
          background-size: 16px;
          left: 1em;
          top: 10px;
          opacity: .5;
        }
        a.play:before {
          content: "";
          width: 16px;
          height: 16px;
          display: block;
          position: absolute;
          background: url(../images/basic/icon_play.png) no-repeat 0 0;
          background-size: 16px;
          left: 1em;
          top: 10px;
          opacity: .5;
        }
      }
    }
    .btn_grp {
      display: block;
    }
  }
}

.np {
  ul,
  ol {
    overflow: hidden;
    padding: 1em 0;
    margin: 0;
    overflow: hidden;
  }
  li {
    display: block;
    width: 49%;
    margin: 0 2% 1em 0;
    float: left;
    position: relative;
    @include box-sizing(border-box);
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 4px;
      height: 100%;
      background: $primaryColor;
    }
    &:nth-child(even) {
      margin-right: 0px;
    }
    @include screen('mobile') {
      float: none;
      width: 96%;
      margin: 0px auto 10px;
      &:nth-child(even) {
        width: 96%;
        margin-right: auto;
      }
    }
    a {
      border: 1px solid #DDD;
      border-left: 1px solid $primaryColor;
      padding: 1em 1em 1em 2em;
      display: block;
      vertical-align: top;
      @include text-overflow;
      position: relative;
      @include aSetting_nocolor;
      transition: all .5s;
      .num {
        position: absolute;
        width: 1em;
        top: 1em;
        left: .5em;
        text-align: right;
        &:after {
          content: ".";
          display: inline-block;
        }
      }
      &:hover,
      &:focus {
        border: 1px solid darken($primaryColor, 5%);
        color: #fff;
        background: $primaryColor;
      }
    }
  }
}

.process {
  clear: both;
  overflow: hidden;
  padding-top: 1em;
  padding-bottom: 3em;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  ul {
    @include li-reset;
    li {
      float: left;
      position: relative;
      width: 20%;
      text-align: center;
      &:before {
        content: "";
        width: 100%;
        height: 1px;
        border-bottom: 3px solid #999;
        display: block;
        position: absolute;
        top: 23px;
        left: -50%;
        z-index: 9;
      }
      .step {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: block;
        background: #767676;
        line-height: 50px;
        text-align: center;
        color: #fff;
        margin: 0 auto 1em auto;
        position: relative;
        z-index: 11;
        font-weight: bold;
      }
      .text {
        color: #767676
      }
      &:first-child:before {
        display: none;
      }
      &.active {
        &:before {
          content: "";
          border-bottom: 3px dashed $secondaryColor;
        }
        &:after {
          content: "";
          width: 56px;
          height: 56px;
          border: 2px solid $secondaryColor;
          border-radius: 50%;
          display: block;
          position: absolute;
          z-index: 10;
          left: 50%;
          margin-left: -30px;
          top: -5px;
          background: #fff;
        }
        .step {
          background: $secondaryColor;
        }
        .text {
          color: $secondaryColor;
        }
        ~li {
          &:before {
            border-bottom: 3px solid $primaryColor;
          }
          .step {
            background: $primaryColor;
          }
          .text {
            color: $primaryColor;
          }
        }
      }
    }
  }
}

.reservation {
  .confirm {
    padding: 1.5em 3em 1em;
    line-height: 180%;
    margin: 1em auto 2em;
    @include box-sizing;
    background: #e8e8e8 url(../images/servicebg.jpg) no-repeat right top;
    border-top: 3px solid $primaryColor;
    .form_grid {
      border-top: 1px solid #ccc;
    }
    .form_grid .form_grp .form_content {
      width: 100%;
      display: block;
      text-align: center;
    }
  }
}

.reservation_notice {
  padding: 3em 4em;
  background: #444;
  color: #fff;
  border-radius: 3px;
  line-height: 170%;
  letter-spacing: .08em;
  margin-bottom: 2em;
  h3 {
    margin-top: 0;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #888;
    position: relative;
    padding-left: 20px;
    &:before {
      content: "";
      width: 8px;
      height: 8px;
      display: block;
      border-top: 2px solid $color-yellow;
      border-right: 2px solid $color-yellow;
      position: absolute;
      left: 0;
      top: 9px;
      transform: rotate(45deg);
      z-index: 10;
    }
  }
  p {
    margin-top: 0;
  }
  em {
    font-style: normal;
    color: $color-yellow;
    text-align: justify;
  }
}

.reservation_form {
  h3,
  legend {
    margin: 0;
    padding-bottom: 10px;
    padding-left: 20px;
    position: relative;
    display: block;
    width: 100%;
    font-weight: bold;
    color: $primaryColor;
    font-size: 1.25em;
    &:before {
      content: "";
      width: 8px;
      height: 8px;
      display: block;
      border-top: 2px solid $primaryColor;
      border-right: 2px solid $primaryColor;
      position: absolute;
      left: 0;
      top: 7px;
      transform: rotate(45deg);
      z-index: 10;
    }
    ~.form_grid {
      margin-top: 0;
    }
  }
  fieldset {
    margin-bottom: 15px;
    &~fieldset {
      border-top: 1px solid #ccc;
    }
  }
  form.form_grid {
    padding: 0;
    line-height: 180%;
    margin: 0;
    @include box-sizing;
    background: none;
    border-top: 0;
    .form_group {
      padding: 1.5em;
      line-height: 180%;
      margin: 0 auto 2em;
      @include box-sizing;
      background: #e8e8e8 url(../images/servicebg.jpg) no-repeat right top;
      border-top: 3px solid $primaryColor;
    }
    .form_grp {
      &:last-child {
        border-bottom: 0;
      }
      .form_title {
        max-width: 22%;
        flex: 0 0 22%;
        @include screen('mobile') {
          width: 100%;
        }
      }
      .form_content {
        max-width: 78%;
        flex: 0 0 78%;
        @include screen('mobile') {
          width: 100%;
        }
        .form_grp {
          border-bottom: 1px dashed #ccc!important;
          &:last-child {
            border-bottom: 0!important;
          }
          .form_title {
            width: 25%;
          }
          .form_content {
            width: 75%;
          }
        }
        input.wauto {
          width: auto;
          min-width: 50%;
          margin-left: 0;
          margin-top: 0;
        }
        a.send {
          display: inline-block;
          text-align: center;
          vertical-align: middle;
          text-decoration: none;
          white-space: nowrap;
          line-height: 36px;
          padding: 0 1.5em 0 3.2em;
          margin: 0 0em .3em .5em;
          border: 1px solid #ccc;
          color: #444;
          border-radius: .2em;
          transition: all .5s;
          position: relative;
          background: #fff;
          &:before {
            content: "";
            width: 28px;
            height: 16px;
            display: block;
            position: absolute;
            background: url(../images/basic/icon_send.png) no-repeat 0 0;
            background-size: contain;
            left: 1em;
            top: 10px;
            opacity: .6;
          }
          &:hover {
            background: #444;
            border: 1px solid #222;
            color: #fff;
            &:before {
              filter: invert(1);
            }
          }
        }
        a.upload {
          display: inline-block;
          text-align: center;
          vertical-align: middle;
          text-decoration: none;
          white-space: nowrap;
          line-height: 36px;
          padding: 0 1.5em 0 2.8em;
          margin: 0 0em .3em .5em;
          border: 1px solid #ccc;
          color: #444;
          border-radius: .2em;
          transition: all .5s;
          position: relative;
          background: #fff;
          &:before {
            content: "";
            width: 16px;
            height: 16px;
            display: block;
            position: absolute;
            background: url(../images/basic/icon_upload.png) no-repeat 0 0;
            background-size: contain;
            left: 1em;
            top: 10px;
            opacity: .6;
          }
          &:hover {
            background: #444;
            border: 1px solid #222;
            color: #fff;
            &:before {
              filter: invert(1);
            }
          }
        }
        select,
        input[type="date"],
        input[type="time"] {
          width: auto;
          min-width: 40%;
          ~span {
            margin-left: 10px;
            @include screen('mobile') {
              margin-left: 0;
              display: block;
            }
          }
        }
        .check_grp.form_inline {
          label {
            margin-right: 1em;
            white-space: nowrap;
          }
        }
        .file_list {
          width: 540px;
          @include screen('tablet') {
            width: 100%;
          }
          ol {
            list-style-position: inside;
            padding: 0 5px;
            margin: 0;
            li {
              padding: 5px;
              border-bottom: 1px dotted #ccc;
              position: relative;
              white-space: nowrap;
              span {
                margin-left: 5px;
                color: #777;
                font-size: .875em;
              }
              a.delete {
                position: absolute;
                width: 24px;
                height: 24px;
                top: .4em;
                right: .3em;
                display: block;
                @include opacity(.5);
                background: #ccc url(../images/icon/icon_trash.svg) no-repeat center center;
                background-size: 16px;
                border-radius: 3px;
                &:hover,
                &:focus {
                  @include opacity(1);
                }
                img {
                  display: block;
                  width: 12px;
                  height: 12px;
                  margin: 0;
                }
              }
            }
          }
        }
      }
    }
    .btn_grp {
      margin: 0;
      padding: 0;
      display: block;
    }
  }
}

.reservation_result {
  padding: 2em 3em 3em 3em;
  line-height: 180%;
  margin: 0 auto 2em;
  @include box-sizing;
  background: #e8e8e8 url(../images/servicebg.jpg) no-repeat right top;
  border-top: 3px solid $primaryColor;
  letter-spacing: .08em;
  ul,
  ol {
    @include li-reset;
    li {
      padding: .6em .5em;
      border-bottom: 1px solid #ccc;
      span {
        font-weight: bold;
        width: 120px;
        display: inline-block;
        color: $primaryColor;
        &:after {
          content: "：";
        }
      }
    }
  }
}

.reservation_result {
  padding: 2em 3em 3em 3em;
  line-height: 180%;
  margin: 0 auto 2em;
  @include box-sizing;
  background: #e8e8e8 url(../images/servicebg.jpg) no-repeat right top;
  border-top: 3px solid $primaryColor;
  letter-spacing: .08em;
  ul,
  ol {
    @include li-reset;
    li {
      padding: .6em .5em;
      border-bottom: 1px solid #ccc;
      span {
        font-weight: bold;
        width: 120px;
        display: inline-block;
        color: $primaryColor;
        &:after {
          content: "：";
        }
      }
    }
  }
}